*{
    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 64px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
}

.section{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}