.freespace {
  display: inline-block;
  text-align: center;
  background-color: #e5e5e5;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100vh;
}

.workspace {
  display: inline-block;
  height: 100%;
  min-width: 1312px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.header .float-left > * {
  margin-left: 24px;
  margin-top: 20px;
}
.header .float-left > *:not(:first-child) {
  margin-left: 20px;
  margin-top: 20px;
}

.header .float-right > * {
  margin-right: 24px;
  margin-top: 20px;
}

.header .float-right > *:not(:last-child) {
  margin-right: 20px;
  margin-top: 20px;
}

.navbar .float-left > * {
  margin-left: 32px;
  margin-top: 19px;
}
.navbar .float-left > *:not(:first-child) {
  margin-left: 18px;
  margin-top: 19px;
}

.navbar .float-right > * {
  margin-right: 24px;
  margin-top: 14px;
}

.navbar .float-right > *:not(:last-child) {
  margin-right: 20px;
  margin-top: 14px;
}

.section {
  background-color: white;
}

.active {
  visibility: inherit;
}

.inactive {
  display: none;
}

.header {
  display: inline-block;
  width: 100%;
  height: 60px;
  text-align: center;

  border-bottom: solid;
  border-bottom-color: #dde0e6;
  border-bottom-width: 1px;
}

.header-title {
  display: inline;
  color: #2d2f33;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.navbar {
  display: inline-block;
  width: 100%;
  height: 48px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.navbar .item {
  cursor: pointer;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6e7178;
}

.navbar .active-item {
  cursor: pointer;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #2375e1;
  border-bottom: solid;
  border-bottom-color: #2375e1;
  border-bottom-width: 2px;
}

.navbar .item:hover {
  color: #3f4146;
}

.aside-nav {
  vertical-align: top;
  display: inline-block;
  min-height: 696px;
  min-width: 352px;
  max-width: 353px;
  margin-top: 24px;
  margin-left: 24px;
}

.post-block {
  vertical-align: top;
  display: inline-block;
  min-width: 872px;
  max-width: 873px;
  min-height: 546px;
  margin-top: 24px;
  margin-left: 32px;
  border: 1px solid #dde0e6;
}

.post-header {
  height: 20px;
  margin-top: 16px;
  margin-right: 16px;
  margin-left: 16px;
  text-align: center;
}

.post-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2d2f33;
}
.post-info {
  margin: 0 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #6e7178;
}

.comment-block {
  margin-top: 16px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  margin-left: 16px;
  margin-right: 8px;
}
.comment-content {
  font-family: Roboto;
  margin-top: 16px;
  border-left: solid 2px #6e7178;
  padding-left: 16px;
  text-align: left;
}
.selected-text {
  color: #2375e1;
}

.views {
  font-family: Roboto;
  /*margin-top: 16px;*/
  color: #2d2f33;
  font-size: 14px;
  line-height: 20px;
}

.image-box {
  display: inline-block;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.user-info {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  width: 352px;
  height: 312px;
  background-color: #fff;
  border: 1px solid #dde0e6;
}

.user-image {
  display: inline-block;
  width: 144px;
  height: 144px;
  margin-top: 32px;
  margin-bottom: 16px;
  margin-left: 104;
  margin-right: 104;
}

.menu {
  background-color: white;
  display: inline-block;
  width: 100%;
  margin-top: 24px;
  min-height: 360px;
  max-height: 361px;
  border: 1px solid #dde0e6;
}
.navigation {
  font-family: Roboto;
  color: #000000;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  border-bottom: solid;
  border-bottom-color: #dde0e6;
  border-bottom-width: 1px;
}

.nav-elem {
  color: #2d2f33;
  text-align: center;
  display: block;
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
}

.nav-ico {
  margin-left: 24px;
  color: #2d2f33;
}

.nav-ico span {
  margin-left: 10px;
  color: #2d2f33;
}

.money {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  margin-right: 24px;
  color: #a1a5ae;
}

.conversation-block {
  font-family: Roboto;
  top: 700px;
  position: absolute;
  height: 52px;
  line-height: 52px;
  margin-top: 24px;
  margin-left: 32px;
  margin-right: 24px;
  width: 872px;
  border: 1px solid #dde0e6;
}

.message-block {
  display: inline-block;
  margin-top: 22px;
  margin-right: 22px;
  width: 352px;
  height: 190px;
  background-color: white;
  border: 1px solid #dde0e6;
}

.message-header {
  width: 352px;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  border-bottom: solid;
  border-bottom-color: #dde0e6;
  border-bottom-width: 1px;
}

.message-input {
  width: 304px;
  height: 110px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 15px;
  margin-bottom: 16px;
  border: 1px solid #dde0e6;
}

.map-block {
  display: inline-block;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 24px;
  min-width: 1248px;
  max-width: 1249px;
  min-height: 476px;
  background-color: white;
  border: 1px solid #dde0e6;
}

.map-header {
  font-family: Roboto;
  display: inline-block;
  width: 1216px;
  height: 20px;
  line-height: 20px;
  margin-left: 16px;
  margin-top: 16px;
  margin-right: 16px;
  vertical-align: bottom;
}

.map {
  width: 1216px;
  height: 600px;
  margin: 16px;
}

.timer-header {
  display: inline-block;
  width: 1216px;
  height: 20px;
  margin-left: 16px;
  margin-top: 16px;
  margin-right: 16px;
  vertical-align: bottom;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: #2d2f33;
}
.timer-block {
  text-align: left;
  display: inline-block;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 24px;
  min-width: 1248px;
  max-width: 1249px;
  min-height: 88px;
  border: 1px solid #dde0e6;
}

.timer {
  margin: 16px 0;
  margin-left: 16px;
}
